# Codeigniter
# -----------------------------------------------------------------------------
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
user_guide

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# Sensitive data
# -----------------------------------------------------------------------------
.htaccess
application/config/config.php
application/config/database.php
dandelion.yml
*.sql

# Analytics
# -----------------------------------------------------------------------------
BingSiteAuth.xml
google_analytics_exclusion.html

# Backups
# -----------------------------------------------------------------------------
public/doc/archive
bak/

# Build
# -----------------------------------------------------------------------------
composer.json
.vagrant/
node_modules

# Third-party
# -----------------------------------------------------------------------------
# /vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

# Sublime Text cache files
#-------------------------
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
