<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sleepytime Sickness Factory</title>
    <style type="text/css">
      ul {
        list-decoration: none;
      }
      li {
        float: left;
      }
    </style>
</head>
<body>
<ul>
	<li>Dept of the Exterior</li>
  <li>Dept of Hootenanny</li>
  <li>Dept of Thorns</li>
  <li>Dept of The Buried Lung</li>
  <li>Dept of Trickery</li>
  <li>Dept of Resisting</li>
  <li>Dept of The Crepuscular</li>
  <li>Dept of The Dregs</li>
  <li>Dept of The Ripper</li>
  <li>Dept of Ticking, Threatening and The Treasury</li>
  <li>Dept of The Dept Directory</li>
  <li>Dept of Kerfuffle</li>
  <li>Dept of the Inferior</li>
  <li>Dept of the Exterior </li>
  <li>Dept of Malfeasance</li>
  <li>Dept of Hootenanny</li>
  <li>Dept of Thorns</li>
  <li>Dept of The Buried Lung</li>
  <li>Dept of Trickery</li>
  <li>Dept of Resisting</li>
  <li>Dept of The Crepuscular</li>
  <li>Dept of The Dregs</li>
  <li>Dept of The Ripper (managed by Spring Heeled Jack and Sweeney Todd)</li>
  <li>Dept of Ticking, Threatening and The Treasury</li>
  <li>Dept of Micro-Nations (the SSF is trying to make itself into some kind of a micro-nation)</li>
  <li>Dept of Tracers</li>
  <li>Dept of B0ngwater</li>
  <li>Dept of Gerrymandering</li>
  <li>Dept of Typecasting</li>
  <li>Dept of The Bled</li>
  <li>Dept of The Metronome</li>
  <li>Dept of The Escape Hatchery</li>
  <li>Dept of Repose</li>
  <li>Dept of Crayfish Candlelight Dinner for One </li>
  <li>Dept of Emulating Marinated Squid</li>
  <li>Dept of Ensō</li>
  <li>Dept of Vertical Response </li>
  <li>Dept of Murphy, Malone and Molloy</li>
  <li>Dept of Horns, Hooves, Wings and Halos</li>
  <li>Dept of Bunker Horizons</li>
  <li>Dept of Ouroboros</li>
  <li>Dept of F—K</li>
  <li>Dept of Fail to Create Empty</li>
  <li>Dept of Monochrome</li>
  <li>Dept of Starvation</li>
  <li>Dept of Drowning</li>
  <li>Dept of Burning</li>
  <li>Dept of Horsemen</li>
  <li>Dept of G.H.O.U.L.</li>
  <li>Dept of Sub Gum Chow Mein</li>
  <li>Dept of Things That Scuttle</li>
  <li>Dept of Dark Matter</li>
  <li>Dept of No Exit</li>
  <li>Dept of Ex Nihilo</li>
  <li>Dept of Nefarious Weathermen</li>
  <li>Dept of the Unwell (and subdivisions):</li>
</ul>
</body>
</html>
