@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* End Reset */


a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #000; }
	
@font-face {
 font-family: 'CarbonTypeRegular';
 src: url('../../fonts/CarbonType/carbontype-webfont.eot?') format('eot'), url('../../fonts/CarbonType/carbontype-webfont.woff') format('woff'), url('../../fonts/CarbonType/carbontype-webfont.ttf') format('truetype'), url('../../fonts/CarbonType/carbontype-webfont.svg#webfontpxnVQYGF') format('svg');
 font-weight: normal;
 font-style: normal; }

#parallax {
	position:relative;
	overflow: hidden;
	width:900px;
	height:700px; }

#wrapper {
	background: #FFFFFF;
	width: 100%;
	margin: 0 auto; }

#far {
	font: 12px/22px 'CarbonTypeRegular', Arial, sans-serif;
	width: 1050px;
	height: 8000px; }

#mid {
	font: 22px/31px 'CarbonTypeRegular', Arial, sans-serif;
	width: 1100px;
	height: 12000px; }

#near {
	font: 60px/68px 'CarbonTypeRegular', Arial, sans-serif;
	letter-spacing: 0;
	width: 1200px;
	height: 16000px;
	padding: 7500px 5000px; }

/* li { text-align: center; } */

#far li {
	color: transparent;
	text-shadow: #000 0 0 4px;
	margin-bottom: 40px; }
	
#mid li {
	color: transparent;
	text-shadow: #000 0 0 2px;
	margin-bottom: 70px; }

#near li {
	margin-bottom: 85px;
	color: #000000;
	text-shadow: none; }
	
/* #near ul { margin-top: 300px; } */

