@charset "UTF-8";

.ring {
	border: 3px solid #999;
	-webkit-border-radius: 30px;
	height: 18px;
	width: 18px;
	position: absolute;
	left:20px;
	top:214px;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite; 
	opacity: 0.0
	}

@-webkit-keyframes pulsate {
		0% {-webkit-transform: scale(0, 0); opacity: 0.0;}
		50% {opacity: 1.0;}
		100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
	}

@font-face {
	font-family: 'CarbonTypeRegular';
	src: url('../../fonts/CarbonType/carbontype-webfont.eot?') format('eot'), url('../../fonts/CarbonType/carbontype-webfont.woff') format('woff'), url('../../fonts/CarbonType/carbontype-webfont.ttf') format('truetype'), url('../../fonts/CarbonType/carbontype-webfont.svg#webfontpxnVQYGF') format('svg');
	font-weight: normal;
	font-style: normal;
	}

#parallax {
	position:relative;
	overflow: hidden;
	width:900px;
	height:700px; 
	}

#wrapper {
	background: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	}

#far {
	width: 4000px;
	height: 2000px;
	font-family: 'CarbonTypeRegular', Arial, sans-serif;
	font-size: 12px;
	line-height: 30px;
	}

#mid {
	font: 22px/31px 'CarbonTypeRegular', Arial, sans-serif;
	width: 6000px;
	height: 3000px;
	}

#near {
	letter-spacing: 0;
	width: 9000px;
	height: 5000px;
	font-family: 'CarbonTypeRegular', Arial, sans-serif;
	font-size: 60px;
	line-height: 200px;
	}

li { 
	text-align: center;
	display: inline;
	}

#far li {
	list-style-type: none;
	color: transparent;
	text-shadow: #000 0 0 4px;
	margin: 0 50px 10px;
	}
	
#mid li {
	list-style-type: none;
	color: transparent;
	text-shadow: #000 0 0 2px;
	margin: 0 500px 70px;
	}

#near li {
	list-style-type: none;
	margin: 0 700px 0;
	color: #000000;
	text-shadow: none;
	}
	
#near ul { margin-top: 1000px; }
#mid ul { margin-top: 1000px; }

