/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, p, applet, object, iframe, h1, h2, h3,
h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1;
	position: relative; }


ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none; }

table {
   border-collapse: collapse;
   border-spacing: 0; }

/* End Reset */


html, body {
	width: 100%;
	height: 100%;
}

a { text-decoration: none; }
	
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0; }

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */





body {
	background: #fcfcfc;
	color: #292927;
	font-family: 'IM Fell DW Pica', Verdana, Arial, Helvetica, sans-serif; 
	padding-top: 16px;
}

ul { list-style-type: none; }
	
ul li { display: inline; }
	
p { padding: 2px; }

dt {
	float: left;
	margin: 0 0 0 15px;
	}

dd {
	float: left;
	margin: 0 0 0 10px;
	}

.inner {
	margin: 0 auto;
	position: relative;
	width: 900px; }

#container { display: none; }
	
#game {
	clear:left;
	margin-top: -30px;
	text-align: center; }
	
#victim {
	background: url(images/victimtest.png) 0 -105px no-repeat;
	display: block;
	height: 670px;
	margin: 0 auto;
	position: relative;
	width: 200px; }

#comments {
	display: block;
	float: left;
	font-size: 20px;
	margin: 150px 0 0 60px;
	width: 300px; }

#phrase {
	font-size: 40px;
	height: 60px;
	letter-spacing: .4em;
	margin: 30px auto 5px;
	width: 800px; }

#alphabet {
	clear: left;
	height: 40px;
	font-size: 40px;
	margin: 0 auto 25px;
	width: 800px; }
	
/* #alphabet a:link, #alphabet a:visited { color: #584d11; }

#alphabet a:hover { color: #CC33CC; } */

a.button, button {
	font-size: 17px;

}

button:focus, a.button:hover, button:hover {
	color: #fffdda;
	background: #444;
	border-color: #000;
}

a.button.ghosted {
	color: #ccc;
	background: #999;
	border-color: #777;
}

/* h1 { 
	margin: 50px 0 20px 0;
	color: #b3ffb3;
	font-size:36px;
	text-align: center; }
	
h2 {
	text-align: center;
	color: #b3ffb3;
	font-size: 14px;
	font-style: oblique; } */



/*** ANSWER INPUT ***/

#answer {
	display: block;
	height: 30px; }

#answerForm { }
	
#answerArea {
	font-size: 12px;
	border: 1px solid #e5e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0 7px;
	/* background-color: #292927; */ }

input {
	border: #e5e3e3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; }
	
/* .highlight {
	background-color: purple!important;
	color:#fff!important; } */


/*** OVERLAY STUFF ***/

#dimScreen {
	background: #fcfcfc;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 999; }

#buttons {
	margin: 500px auto 0;
	text-align: center;
	width: 310px; }

#buttons li {
	float: left;
	margin-right: 10px; }

#buttons li:last-child {
	margin-right: 0; }
	
#newGame, #quit {
	background: #292927;
	border: 1px solid #ccc;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: auto;
	padding: 10px;
	width: 100px; }

#newGame:hover, #quit:hover {
	color: #fff;
	background-color: #c21f1f; }

#overlayMessages {
	color: #292927;
	font: 24px 'IM Fell DW Pica', serif;
	margin: 0 auto 30px;
	width: 600px; }
	
#overlaySubMessages {
	margin: 20px auto;
	width: 600px; }

#skipLink {
	font: 16px 'Gill Sans', Arial, sans-serif;
	margin: 200px auto 20px;
	text-align: right;
	width: 600px; }

#skipLink > a {
	color: #888; }

#skipLink > a:hover {
	color: #000; }


/*** Status Bar ***/

#statusWrapper {
	background: #444 url(images/woodtexture.jpg) repeat-x;
	color: #aaa;
/*	display: none; */
	font: 20px 'Gill Sans', Arial, sans-serif;
	height: 20px;
	padding: 10px 0;
	position: absolute;
	top: 20px;
	text-shadow: 0 -1px 0 #000;
	width: 100%; }

#status ul {
	display: none;
}

.letters {
	float: right;
/*
	letter-spacing: .3em;
*/
	}

.statusLabel {
	float: right;
	margin-right: 10px;
	}

#pixie {
	background: #000;
	left: 0;
	position: absolute;
	top: 0; }

.coil {
	position: absolute;
	width: 35px;
	height: 58px;
	background: transparent url(images/coil.png) 0 0 no-repeat;
	top: -7px;
	left: 50%;
	margin-left: -17px;
}
