/* ==========================================================================
   #COLORS
   ========================================================================== */

// Set up a color palette which allows us to theme the entire project from one
// location.

// Brand Colors
$dark-green:               #084003;
$color-green-dark:         #084003;
$mid-green:                #3a6d22;
$color-green-mid:          #3a6d22;
$alert-green:              #e6fc8f;
$color-green-honeysuckle:  #e6fc8f;
$dark-orange:              #9e5700;
$light-orange:             #c96e00;
$color-orange:             #c96e00;
$alert-red:                #ffe4e4;
$color-pink:               #ffe4e4;

// Utility
$color-white:  #fff;
$color-black:  #000;
