
// monster assembly department

// @import "base";

* {
	margin: 0;
	border: none;
	padding: 0;
}

#dragSource {
  position: relative;
  width: 1000px;
  height: 800px;
  overflow: auto;
}

#base {
  position: relative;
  width: 1920px;
  height: 1200px;
  background: image-url('monster-assembly/tree.jpg') no-repeat;
  overflow: hidden;
}

#feedback {
  background: green;
  height: 40px;
  color: #fff;
  width: 100%;
  display: none;
}

#eye-lt {
  background: image-url("monster-assembly/eye-lt.png") no-repeat;
  width: 27px;
  height: 28px;
  z-index: 10;
}

#eye-lt-tar {
  width: 27px;
  height: 28px;
  position: absolute;
  top: 32px;
  left: 55px;
  z-index: 1;
}

#eye-rt {
  background: image-url("monster-assembly/eye-rt.png") no-repeat;
  width: 23px;
  height: 26px;
  z-index: 1;
}

#eye-rt-tar {
  position: absolute;
  width: 23px;
  height: 26px;
  top: 32px;
  left: 115px;
}

#head {
  background: image-url("monster-assembly/head.png") no-repeat;
  position: relative;
  width: 196px;
  height: 108px;
  z-index: 20;
}

#head-container {
  width: 196px;
  height: 108px;
}

#torso-container {
  width: 114px;
  height: 105px;
}

#jaw-container {
  width: 51px;
  height: 48px;
}

#jaw-tar-clone {
  width: 60px;
  height: 60px;
  top: -40px;
  left: -5px;
}

.container { background: blue; }

.torso {
  background: image-url("monster-assembly/torso.png") no-repeat;
  position: absolute;
  width: 114px;
  height: 105px;
  z-index: 10;
}

#torso-tar {
  position: absolute;
  width: 114px;
  height: 105px;
  top: 100px;
  left: 50px;
  z-index: 5;
}

#torso-tar-clone {
  position: absolute;
  width: 57px;
  height: 53px;
  z-index: 10;
  top: -50px;
  left: 30px;
}

#socket-lt {
  background: image-url("monster-assembly/socket-lt.png") no-repeat;
  width: 28px;
  height: 28px;
  z-index: 10;
}

#socket-lt-tar {
  width: 28px;
  height: 28px;
  top: 50px;
  left: 60px;
}

#socket-rt {
  background: image-url("monster-assembly/socket-rt.png") no-repeat;
  width: 23px;
  height: 26px;
  z-index: 10;
}

#socket-rt-tar {
  width: 23px;
  height: 26px;
  top: 50px;
  left: 115px;
}

#jaw {
  background: image-url("monster-assembly/jaw.png") no-repeat;
  position: absolute;
  width: 51px;
  height: 48px;
  z-index: 30;
}

#jaw-tar {
  width: 51px;
  height: 48px;
  top: 80px;
  left: 74px;
}

#tail {
  background: image-url("monster-assembly/tail.png") no-repeat;
  width: 61px;
  height: 56px;
  z-index: 1;
}

#tail-tar {
  width: 61px;
  height: 56px;
  top: 30px;
  left: 100px;
}

#belly-button {
  background: image-url("monster-assembly/belly-button.png") no-repeat;
  width: 11px;
  height: 6px;
  z-index: 20;
}

#belly-button-tar {
  width: 11px;
  height: 6px;
  top: 90px;
  left: 50px;
  z-index: 15;
}

#horn-lt {
  background: image-url("monster-assembly/horn-lt.png") no-repeat;
  width: 24px;
  height: 27px;
  z-index: 30;
}

#horn-lt-tar {
  width: 24px;
  height: 27px;
  top: 20px;
}

#horn-rt {
  background: image-url("monster-assembly/horn-rt.png") no-repeat;
  width: 13px;
  height: 21px;
  top: 20px;
  left: 185px;
  z-index: 30;
}

#horn-rt-tar {
  width: 13px;
  height: 21px;
  top: 20px;
  left: 185px;
}

/*
.wrapper {
  height: 100%;
  width: 100%;
  }
*/

#haunch-lt {
  background: image-url("monster-assembly/haunch-lt.png") no-repeat;
  width: 27px;
  height: 54px;
  z-index: 20;
}

#haunch-rt {
  background: image-url("monster-assembly/haunch-rt.png") no-repeat;
  width: 29px;
  height: 52px;
  z-index: 20;
}

#haunch-lt-tar {
  width: 27px;
  height: 54px;
  z-index: 20;
  top: 50px;
  left: 10px;
}

#haunch-rt-tar {
  width: 29px;
  height: 52px;
  z-index: 20;
  top: 50px;
  left: 90px;
}

#leg-lt {
  background: image-url("monster-assembly/leg-lt.png") no-repeat;
  width: 49px;
  height: 70px;
  z-index: 30;
}

#leg-lt-tar {
  width: 49px;
  height: 70px;
  z-index: 30;
  top: 55px;
  left: -20px;
}

#leg-rt {
  background: image-url("monster-assembly/leg-rt.png") no-repeat;
  width: 48px;
  height: 66px;
  z-index: 30;
}

#leg-rt-tar {
  width: 48px;
  height: 66px;
  z-index: 30;
  top: 55px;
  left: 100px;
}

.target {
  background: #fa7a7a;
  opacity: .5;
}

body {
  background: image-url("monster-assembly/monster-complete.png") no-repeat;
}


/* =========
* Keyframes
* ========= */

@-webkit-keyframes 'speak' {
  from { top: 0px; left: 0; }
  50% { top: 15px; left: 5px; }
  100% { top: 0px; left: -3px; }
}

@-webkit-keyframes 'nod' {
  0% { top: 0; left: 0; }
  50% { top: 4px; left: -3px; }
  100% { top: 2px; left: 2px; }
}
