@charset "UTF-8";

body {
	background: #000;
	overflow: hidden;
	}

.container {
}

.container > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

#r01 {
	height: 22px;
	width: 22px;
	}

#r02 {
	height: 48px;
	width: 48px;
	}

#r03 {
	height: 69px;
	width: 69px;
	}

#r04 {
	height: 84px;
	width: 84px;
	}

#r05 {
	height: 112px;
	width: 112px;
	}

#r06 {
	height: 131px;
	width: 131px;
	}

#r07 {
	height: 165px;
	width: 166px;
	}

#r08 {
	height: 177px;
	width: 177px;
	}

#r09 {
	height: 188px;
	width: 188px;
	}

#r10 {
	height: 202px;
	width: 202px;
	}

#r11 {
	height: 221px;
	width: 221px;
	}

#r12 {
	height: 236px;
	width: 236px;
	}

#r13 {
	height: 251px;
	width: 252px;
	}

#r14 {
	height: 288px;
	width: 289px;
	}	

#r15 {
	height: 307px;
	width: 307px;
	}

#r16 {
	height: 316px;
	width: 316px;
	}

#r17 {
	height: 327px;
	width: 327px;
	}

#r18 {
	height: 355px;
	width: 355px;
	}

#r19 {
	height: 366px;
	width: 367px;
	}

#r20 {
	height: 378px;
	width: 379px;
	}

#r21 {
	height: 390px;
	width: 390px;
	}

#r22 {
	height: 415px;
	width: 415px;
	}

#r23 {
	height: 449px;
	width: 449px;
	}

#r24 {
	height: 462px;
	width: 462px;
	}

#r25 {
	height: 475px;
	width: 475px;
	}

#r26 {
	height: 490px;
	width: 490px;
	}

#r27 {
	height: 518px;
	width: 518px;
	}
	
#r28 {
	height: 537px;
	width: 537px;
	}

#r29 {
	height: 550px;
	width: 550px;
	}

#r30 {
	height: 563px;
	width: 563px;
	}

#r31 {
	height: 575px;
	width: 575px;
	}

#r32 {
	height: 593px;
	width: 593px;
	}

#r33 {
	height: 606px;
	width: 606px;
	}

#r34 {
	height: 631px;
	width: 632px;
	}

#r35 {
	height: 646px;
	width: 646px;
	}

#r36 {
	height: 689px;
	width: 689px;
	}

#r37 {
	height: 702px;
	width: 702px;
	}

#r38 {
	height: 741px;
	width: 741px;
	}

#r39 {
	height: 777px;
	width: 777px;
	}

#r40 {
	height: 789px;
	width: 789px;
	}
	
#r41 {
	height: 800px;
	width: 800px;
	}

#r42 {
	height: 812px;
	width: 813px;
	}

#r43 {
	height: 827px;
	width: 827px;
	}

#r44 {
	height: 836px;
	width: 836px;
	}

#r45 {
	height: 847px;
	width: 847px;
	}

#r46 {
	height: 862px;
	width: 862px;
	}

#r47 {
	height: 896px;
	width: 906px;
	}

#r48 {
	height: 912px;
	width: 912px;
	}

#trees { 
	height: 920px;
	width: 920px;
	}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

